/* Estilo adicional para el formulario */
.card {
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-control, .btn-outline-light {
    border-radius: 5px;
}

#togglePassword {
    cursor: pointer;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
