/* Estilo adicional para el formulario */
.card {
    background-color: #5c5c5c !important;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #5c5c5c;
}

.bg-light {
    background-color: #b5ffa6 !important;
}

.form-control, .btn-outline-light {
    border-radius: 5px;
}

#togglePassword {
    cursor: pointer;
}

.btn-success {
    background-color: #234c17;
    border-color: #234c17;
}

.btn-success:hover {
    background-color: #234c17;
    border-color: #234c17;
}

/* Estilo responsive del header */
header .navbar {
    width: 100%;
}

/* Alinear correctamente los botones del menú */
header .btn-outline-dark {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonesmenu {
    background-color: #b5ffa6;
    color: #234c17;
    border: inset 2px #234c17;
    font-weight: bold;
    padding: 0.75rem 2rem;
    min-width: 150px;
    text-align: center;
}

/* Ocultar los botones cuando se colapsa el menú en pantallas pequeñas */
.navbar-toggler {
    border-color: #234c17;
}

.navbar-toggler-icon {
    color: #234c17;
}

.icono:hover {
    background-color: #234c17 !important;
}

/* Añadir un estilo específico para móviles */
@media (max-width: 767.98px) {
    .navbar-collapse {
        text-align: center;
    }

    .btn {
        margin-bottom: 10px;
    }
}
